/* box-sizing appliqué à tous les éléments du site */
* {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

 /* Disposition générale des boites */ 

 /* Boites principales */
body {
    margin: 0 2%;
}

#logoNavContener {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 }

 #sloganContener {
     display:flex;
     flex-direction: column;
     justify-content: left;
 }

 #rechercheContener {
    display: flex;
    justify-content: left;
}

 #filtresContener {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
 }

 #infoBulleContener {
    display: flex;
    flex-direction: row;
    justify-content: left;
 }



@media only screen and (max-width:767px) {
    #logoNavContener {
        display:flex;
        flex-direction: column;
    }
    #rechercheContener {
        justify-content: center;
     }
    
     #filtresContener {
        justify-content: center;
     }  
}

/* Boites internes */

nav {
    flex-basis:70%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-left: 0%;
    margin:0;
}

nav ul li {
    padding: 2% 3%;
    text-align: center;
}

#sloganContener {
    margin-top:2.5%;
}

#searchEngine {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding:3vh 0;
}

#filtresTotalContener {
    display:flex;
    flex-direction: row;
}

#filtresContener {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-basis:80%;
}

.categorieLogement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:52px;
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    #searchEngine {
        display: flex;
        flex-direction: row;
        justify-content: left;
        padding:3vh 0;
    }
 }

@media only screen and (max-width:767px) {
    nav ul {
        justify-content: space-around;
    }
    nav ul li {
        flex-basis: 50%;
    }
    #sloganContener {
        margin-top:5%;
        padding-left:1vw;
    }
    #filtresTotalContener {
        display:flex;
        flex-direction: column;
    }

}

/* Mise en forme des boites */




/* Mise en forme des éléments */

#logoNavContener img {
    width:100px;
    margin-top:1%;
    margin-left:1%;
}

nav ul li {
    list-style-type: none;
}

.icones {
    background-color: #f2f2f2;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding:15px;
}

#rechercheContener input[type="text"] {
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left:none;
    border-right:none;
    padding-left: 10px;
}

#submitSearchButton {
    padding:15px;
    background-color: #0065FC;
    border:none;
    color:white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

#iconButtonSubmit {
    display: none;
}

.categorieLogement {
    border: solid 1px #f2f2f2;
    border-radius: 25px;
    margin:0 1%;
}

#filtresContener {
    margin-top:1%;
}

#infoBulleContener {
    margin-top:2%;
}

@media only screen and (max-width:767px) {
    #logoNavContener img {
        width:100px;
        margin: 0 auto 3vh auto;
    }
    #textButtonSubmit {
        display:none;
    }
    #iconButtonSubmit {
        display: block;
    }

    #infoBulleContener {
        margin-top:4%;
    }


}

/* Typographie */

* {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}

#menuPrincipal a {
    text-decoration: none;
    color:grey;
    font-weight: 400;
}

#menuPrincipal li:first-child {
    border-top:solid 2px #0065FC;
}

#menuPrincipal li:first-child a {
    color:#0065FC;
}

h1 {
    font-size:large;
    font-weight:600;
}

h3 {
    font-size:medium;
    font-weight: 400;
}

#sloganContener h1 {
    margin: 2vh 0 0.5vh 0;
}

#searchEngine i {
    font-size:x-large;
}

input, button {
    font-size:medium;
    font-weight:600;
}

#filtresContener h3 {
    font-weight:bold;
}

.iconesFiltres {
    width:50px;
    height:50px;
    border-radius: 25px;
    background-color: #DEEBFF;
    padding:10px;
    text-align: center;
    font-size: x-large;
}

.texteSousTitreGras {
    font-weight: 700;
}

#filtresTotalContener span:first-child {
    padding: 28px 18px 18px 0px;
}

.nomFiltres {
    padding:18px;
    text-transform: capitalize;
}

.iconInfo {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    border: solid 1px #f2f2f2;
    color:#0065FC;
    text-align: center;
    padding: 3px 3px 3px 0px;
}

#infoBulleContener span {
    padding: 8px 2%;
}

@media only screen and (max-width:767px) {
    #menuPrincipal li:first-child {
        border-top:none;
        border-bottom:solid 2px #0065FC;
    }
    #filtresTotalContener span:first-child {
        padding: 7px 0px;
    }
}